<div class="section">
<%= simple_form_for [:admin, @user] do |f| %>
<div class="container">
<div class="card-deck mb-3 text-center">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal"> Edit User Privileges</h4>7
      <p> Insert User details here </p>
    </div>
    <div class="card-body">
     <div class="field">
      <div class="control">
        <%= f.label :is_admin, 'Grant admin Priveleges'%>
        <%= f.check_box :is_admin %>
     </div>
    </div><br>
    <div class="field">
      <div class="control">
        <%= f.label :is_vendor, 'Grant vendor Priveleges'%>
        <%= f.check_box :is_vendor %>           
      </div>
      <div id="Shop_details" style="display:none;">
        <%= f.label :shop_id %> <%= f.text_field :shop_id %>
      </div>
      <script type="text/javascript">
  var checkbox = document.getElementById('user_is_vendor');
  var details_div = document.getElementById('Shop_details');
  checkbox.onchange = function() {
     if(this.checked) {
       details_div.style['display'] = 'block';
     } else {
       details_div.style['display'] = 'none';
     }
  };
</script>
    </div>

     <div>
      <%= f.button :submit, 'Save user',class: "btn btn-success" %>
      <%= link_to "Back to user list", admin_users_path, class: "btn btn-success" %>
      <% end %>
    </div>




