
<h2 class="p-3"> User List </h2>
<p>Search by email address:</p>
<div class="mx-auto" style="width: 300px;">
    <%= simple_form_for :search_user, url: admin_users_path, method: "GET", html: { class: 'form-inline' } do |f| %>
       <p> <%= f.text_field :email, label: false, required: true, input_html: {value: ""} %>
        <%= f.submit "Search", class: "btn btn-success" %> 
        <%= link_to "Reset", admin_users_path ,class: "btn btn-success" %> </p>
    <% end %>
    </div>

<% @users.each do |user| %>
    
    <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"> User id:  <%= user.id %> </h4>
          
        <%= link_to content_tag(:span, ""), {controller: 'users', action: 'show', id: user.id}  %>
        </div>
        <div class="card-body">
        <h5> Name: <%= user.first_name %> <%= user.last_name %> </h5>
        <p> Email: <%= user.email %> </p>
        <p> Role: <%= user.role %> </p>
        <%if user.is_vendor?%>
          <p> Shop: <%= user.shop.name %> </p>
        <%end%>
      

      </div>
      <div class="d-flex justify-content-center">
        <p>
            <%= link_to "Edit", edit_admin_user_path(user), class: "btn btn-success" %> 
        </p>
    
 
      </div>
        </div>
        </div>
      </div>







<% end %>

<p>
<%= link_to "Back To Homepage", root_path ,class: "btn btn-success" %>
</p> 