<h2 class="p-3"> User List </h2>

<% @users.each do |user| %>
    
    <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"> User id:  <%= user.id %> </h4>
          
        <%= link_to content_tag(:span, ""), {controller: 'users', action: 'show', id: user.id}  %>
        </div>
        <div class="card-body">
        <h5> Name: <%= user.first_name %> <%= user.last_name %> </h5>
        <p> Email: <%= user.email %> </p>

      

      </div>
      <div class="d-flex justify-content-center">
        <p>
            <%= link_to "Edit", edit_admin_user_path(user), class: "btn btn-primary" %> 
        </p>
    
 
      </div>
        </div>
        </div>
      </div>







<% end %>

<p>
<%= link_to "Back To Homepage", root_path ,class: "btn btn-primary" %>
</p> 