<div class="section">
<%= simple_form_for [:admin, @shop] do |f| %>
<div class="container">
<div class="card-deck mb-3 text-center">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal"> Edit User Permissions </h4>
      <p></p>
    </div>
    <div class="card-body">
     <div class="field">
      <div class="control">
        <%= f.label Grant admin priveleges? %>
        <%= f.check_box :is_admin %>
     </div>
    </div><br>
    <div class="field">
      <div class="control">
        <%= f.label Grant vendor priveleges? %>
        <%= f.check_box :is_vendor %>
      </div>
    </div>
     <br>
     <div>
      <%= f.button :submit, 'Save user',class: "btn btn-primary" %>
      <%= link_to "Back to user list", admin_users_path, class: "btn btn-primary" %>
      <% end %>
    </div>