<h2> Shop details </h2>

<div class="container">
<div class="card-deck mb-3 text-center">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal"> Shop id:  <%= @shop.id %> </h4>
      
    </div>
    <div class="card-body">
        <h5> Name:  <%= @shop.name %> </h5>
        <p> Location: <%= @shop.location %> </p>
        <p> Phone number:  <%= @shop.contact_phone %> </p>
        <p> Email address: <%= @shop.contact_email %> </p>
    </div>
  

  <div class="button-group">
    <p>
     <%= link_to "Edit", edit_admin_shop_path(@shop), class: "btn btn-primary" %> 
    </p>
  
    <p>
      <%= link_to "Delete", admin_shop_path(@shop), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
    </p>
  

    <p>
  <%= link_to "Back to shops list", admin_shops_path, class: "btn btn-primary" %>
    </p>
  </div>
  </div>
  </div>
  </div>