<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Voucherific</title>
  </head>
  <body> 
  <header>
  <% if !user_signed_in? %>
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Check out today's deals below </h1>
          <p class="lead text-muted">Sign in or Register to grab them now!</p>
          <p>
            <a href="/users/sign_in" class="btn btn-success my-2">Sign In</a>
            <a href="/users/sign_up" class="btn btn-secondary my-2">Register</a>
          </p>
      </div>
    </section>
  <% elsif current_user.is_admin? %>
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Welcome <%= current_user.first_name %> !</h1>
        </br>
        <p class="lead text-muted">You are signed in as an admin.</p>
        </br>
        <p>
            <%= link_to "View, add or edit Templates", admin_templates_path, class: "btn btn-success btn-tile" %>
        
            <%= link_to "View all Vouchers", admin_vouchers_path, class: "btn btn-success btn-tile" %>
        
            <%= link_to "View, add or edit Partner Shops", admin_shops_path, class: "btn btn-success btn-tile" %>
         
            <%= link_to "Manage User Priviledges", admin_users_path, class: "btn btn-success btn-tile" %>        
        </p>
      </div>
    </section>
  <% elsif current_user.is_vendor? %>
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Welcome <%= current_user.first_name %> !</h1>
        </br>
        <p class="lead text-muted">You are signed in as a vendor.</p>
        </br>
        <p>
          <p>
            <%= link_to "Validate Vouchers", shop_path, class: "btn btn-success" %>
          </p>
        </p>
      </div>
    </section>
  <% else %>
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Welcome <%= current_user.first_name %> !</h1>
        <h1 class="jumbotron-heading">Check out today's deals below </h1>
        
      </div>
    </section>
<%end%>
  </header>
<% if !user_signed_in? || (!current_user.is_admin? && !current_user.is_vendor?) %>
<div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
        <%if @templates != nil %>
          <% @templates.each do |template|%>
            <div class="col-md-4">
              <div class="card card-discount mb-4 box-shadow">
              <%=image_tag("sale.jpg", alt: "Sale pic", :size => '200x120')%>
                <div class="card-body">
                    <h4>£ <%= template.value %> discount</h4>
                    <p class="card-text"><%= template.description %></p>
                    <% if user_signed_in? %>
                      <% if @voucher = Voucher.where(template_id: template.id, customer_id: current_user.id).first %>
                        <p> <button type= "button" class="btn btn-secondary" disabled>You got me!</button></p>
                        <p> Voucher has already been claimed</p>
                      <% else %>
                        <p> <%= link_to "Get this coupon", {controller: 'customer/vouchers', action: 'custom', id: template.id}, data: { confirm: "Are you sure you want this voucher?" },method: :post, class: "btn btn-success" %></p>
                      <% end %>
                    <%else%>
                          <p> <%= link_to "Get this coupon", new_user_session_path, class: "btn btn-success" %></p>                   
                    <%end%>
                </div>
              </div>
            </div>
          <%end%>
        <%end%>
        </div>
      </div>
  </div>   
<%end%> 
<div class="section-basic text-center" id="footer">
    <div id ="subscribe-text">
      <h3>Thank you for choosing us!</h3>
      <h3> We at Voucherific work continuosly to bring you the best deals.</h3>
    </div>
    </br>
    <div class="container-footer">
      <a class="nav-link" href="/about">About</a>
      <a class="nav-link" href="/contact">Contact</a>
      <a class="nav-link" href="/faq"> FAQs</a>
      <a class="nav-link" href="/terms"> T&CS</a>
    </div></br>
      <p> Thanks for the photos: </p> 
      <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@blankerwahnsinn?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Fabian Blank"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Fabian Blank</span></a>
      <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@freestocks?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from freestocks.org"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">freestocks.org</span></a>
      <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@belart84?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Artem Beliaikin @belart84"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Artem Beliaikin @belart84</span></a>
      </br></br>
      <p>This app was designed and coded with <span style="font-size:150%;color:red;">&hearts;</span> by cohort nine of Digital Jersey's coding programme. </p>
    </div> 
  </body>

</html>   
   
       