<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Voucherific</title>
  </head>
  <body> 
  <header>
  <% if !user_signed_in? %>
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Check out today's deals below </h1>
          <p class="lead text-muted">Sign in or Register to grab them now!</p>
          <p>
            <a href="/users/sign_in" class="btn btn-primary my-2">Sign In</a>
            <a href="/users/sign_up" class="btn btn-secondary my-2">Register</a>
          </p>
      </div>
    </section>
  <% elsif current_user.is_admin? %>
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Welcome <%= current_user.first_name %> !</h1>
        <p class="lead text-muted">You are signed in as an admin.</p>
        <p>
          <p>
            <%= link_to "Templates", admin_templates_path, class: "btn btn-primary" %>
          </p>
          <p>
            <%= link_to "Vouchers", admin_vouchers_path, class: "btn btn-primary" %>
          </p>
          <p>
            <%= link_to "Shops", admin_shops_path, class: "btn btn-primary" %>
          </p>
          <p>
            <%= link_to "User Priveledges", admin_users_path, class: "btn btn-primary" %>
          </p>          
        </p>
      </div>
    </section>
  <% elsif current_user.is_vendor? %>
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Welcome <%= current_user.first_name %> !</h1>
        <p class="lead text-muted">You are signed in as a vendor.</p>
        <p>
          <p>
            <%= link_to "Validate Voucher", shop_path, class: "btn btn-primary" %>
          </p>
        </p>
      </div>
    </section>
  <% else %>
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Welcome <%= current_user.first_name %> !</h1>
        <h1 class="jumbotron-heading">Check out today's deals below </h1>
        
      </div>
    </section>
<%end%>
  </header>
<% if !user_signed_in? || (!current_user.is_admin? && !current_user.is_vendor?) %>
<div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
        <%if @templates != nil %>
          <% @templates.each do |template|%>
            <div class="col-md-4">
              <div class="card card-discount mb-4 box-shadow">
              <%=image_tag("sale.jpg", alt: "Sale pic", :size => '200x120')%>
                <div class="card-body">
                    <h4>£ <%= template.value %> discount</h4>
                    <p class="card-text"><%= template.description %></p>
                    <% if user_signed_in? %>
                      <% if @voucher = Voucher.where(template_id: template.id, customer_id: current_user.id).first %>
                        <p> <button type= "button" class="btn btn-secondary" disabled>You got me!</button></p>
                        <p> Voucher has already been claimed</p>
                      <% else %>
                        <p> <%= link_to "Get this coupon", {controller: 'customer/vouchers', action: 'custom', id: template.id}, data: { confirm: "Are you sure you want this voucher?" },method: :post, class: "btn btn-primary" %></p>
                      <% end %>
                    <%else%>
                          <p> <%= link_to "Get this coupon", new_user_session_path, class: "btn btn-primary" %></p>                   
                    <%end%>
                </div>
              </div>
            </div>
          <%end%>
        <%end%>
        </div>
      </div>
  </div>   
<%end%> 
  </body>

</html>   
   
       