<h2> All vouchers </h2>

<hr class="mt-4 mb-4">

<% @vouchers.each do |voucher| %>
    <div class="container">
    <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
    <div class="card-header">
        <p><strong> Voucher number: <%= voucher.number %> </strong></p>
    </div>
    <div class="card-body">
        <p> Voucher number: <%= voucher.number %> </p>
        <p> Voucher value:  <%= voucher.template.value %> </p>
        <p> Voucher description:  <%= voucher.template.description %> </p>
    </div>
    </div>
<% end %>

</div>

   



<%= link_to "Back To Admin Homepage", admin_vouchers_path ,class: "btn btn-primary" %>

<div class="container-fluid bg-light ">
	<div class="row align-items-center justify-content-center">
            	        <div class="col-md-2 pt-3">
                           <div class="form-group ">
                              <select id="inputState " class="form-control">
                                <option selected>Status</option>
                                <option>All</option>
                                <option>Expired</option>
                                <option>Redeemed</option>
                                <option>Paid</option>
                              </select>
                           </div>
                        </div>
                		<div class="col-md-2 pt-3">
                           <div class="form-group">
                              <select id="inputState" class="form-control">
                                <option selected>Date</option>
                                <option>All time</option>
                                <option>Last week</option>
                                <option>Last month</option>
                                <option>Last 3 months</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-md-2 pt-3">
                            <div class="form-group">
                              <select id="inputState" class="form-control">
                                <option selected>Vendors</option>
                                <option>All</option>
                                
                              </select>
                            </div>
                        </div>
                        
                        <div class="col-md-2">
            	           <button type="button" class="btn btn-primary btn-block">Search</button>
            	        </div>
                	</div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Voucher number</th>
      <th scope="col">Template Id</th>
      <th scope="col">Customer E-mail</th>
      <th scope="col">Voucher Status</th>
      <th scope="col">Date of Status</th>
      <th scope="col">Value</th>
      <th scope="col">Redeemed by</th>
      </tr>
  </thead>
  <tbody>

  <% @vouchers.each do |voucher| %>
    <tr>
      <td><%= voucher.number %></th>
      <td><%= voucher.template.id %></td>
      <td><%= voucher.customer.email %></td>
      <td><%= voucher.status %></td>
      <td><%= voucher.updated_at %></td>
      <td>£ <%= voucher.template.value %></td>
      <%if voucher.vendor.email?%>
      <td><%= voucher.vendor.email %></td>
      <%end%>
      
    </tr>
    <% end %>
   
   
  </tbody>
</table>

<%= link_to "Back To Admin Homepage", admin_vouchers_path ,class: "btn btn-primary" %>