<h1> This is the vouchers page </h1>
<h2> Please select one of the following options </h2>


<hr class="mt-4 mb-4">


<h4> Vouchers </h4>
<div>   
    <%= link_to "All vouchers", admin_vouchers_all_path, class: "btn btn-primary" %>
    <%= link_to "Redeemed vouchers", admin_vouchers_redeemed_path, class: "btn btn-primary" %>
    <%= link_to "Expired vouchers", admin_vouchers_expired_path, class: "btn btn-primary" %>
    <%= link_to "Paid vouchers", admin_vouchers_paid_path, class: "btn btn-primary" %>
</div>

<hr class="mt-4 mb-4">

<p>
    <%= link_to "Back To Homepage", root_path ,class: "btn btn-primary" %>
</p> 



