
<h2> Available vouchers: </h2>
<p> Click on a voucher to edit it</p>

<% @vouchers.each do |voucher| %>
    
        <hr class="mt-4 mb-4">
        <div class="admin_voucher_card">
            <p> Voucher id:  <%= voucher.id %> </p>
            <p> Value: £ <%= voucher.value %> </p>
            <p> Description: <%= voucher.description %> </p>
                <% if voucher.is_inactive != false %>
                    <p style="color:red;"> INACTIVE </p>
                <% end %>
            <%= link_to content_tag(:span, ""), {controller: 'vouchers', action: 'show', id: voucher.id}  %>
        </div>
        <hr class="mt-4 mb-4">
        </br>
    
<% end %>

<%= link_to "Create New Voucher", new_admin_voucher_path, class: "btn btn-primary" %>