
<h2> Redeemed vouchers</h2>

<hr class="mt-4 mb-4">

<% @vouchers.each do |voucher| %>

    <p> Voucher number: <%= voucher.number %> </p>
    <p> Voucher value:  <%= voucher.template.value %> </p>
    <p> Voucher description:  <%= voucher.template.description %> </p>
    <p> Voucher has been redeemed by :  <%= voucher.vendor.email %> </p>
    <hr class="mt-4 mb-4">
<% end %>

<%= link_to "Back To Admin Homepage", admin_vouchers_path ,class: "btn btn-primary" %>

<div class="container-fluid bg-light ">
	<div class="row align-items-center justify-content-center">
            	        <div class="col-md-2 pt-3">
                           <div class="form-group ">
                              <select id="inputState " class="form-control">
                                <option selected>Status</option>
                                <option>All</option>
                                <option>Expired</option>
                                <option>Redeemed</option>
                                <option>Paid</option>
                              </select>
                           </div>
                        </div>
                		<div class="col-md-2 pt-3">
                           <div class="form-group">
                              <select id="inputState" class="form-control">
                                <option selected>Date</option>
                                <option>All time</option>
                                <option>Last week</option>
                                <option>Last month</option>
                                <option>Last 3 months</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-md-2 pt-3">
                            <div class="form-group">
                              <select id="inputState" class="form-control">
                                <option selected>Vendors</option>
                                <option>All</option>
                                
                              </select>
                            </div>
                        </div>
                        
                        <div class="col-md-2">
            	           <button type="button" class="btn btn-primary btn-block">Search</button>
            	        </div>
                	</div>
</div>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Voucher</th>
      <th scope="col">Voucher Status</th>
      <th scope="col">Date of Status</th>
      <th scope="col">Value</th>
      <th scope="col">Optician</th>
      <th scope="col">Customer E-mail</th>
      <th scope="col">Payment Status</th>
      </tr>
  </thead>
  <tbody>

  <% @vouchers.each do |voucher| %>
    <tr>
      <th scope="row">1</th>
      <td><%= voucher.number %></td>
      <td><%= voucher.template.description %></td>
      <td><%= voucher.number %></td>
      
    </tr>
    <% end %>
   
   
  </tbody>
</table>