

<h2> Voucher details </h2>

<div class="content">
<p>  Id : <%= @voucher.id %> </p>
<p>  Value : <%= @voucher.value %> </p>
<p>  Description : <%= @voucher.description %> </p>

</div>

<div class="actions">
<p>
  <%= link_to "Edit", edit_admin_voucher_path(@voucher), class: "btn btn-primary" %>
</p>
<p>
  <%= link_to "Delete", {controller: 'vouchers', action: 'disable', id: @voucher.id}, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
  <%= link_to "Delete For Good", admin_voucher_path(@voucher), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
  </p>

  <p>
  <%= link_to "Back to vouchers list", admin_vouchers_path, class: "btn btn-primary" %>
  </p>
</div>

