<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Costprice:</strong>
  <%= @product.costprice %>
</p>

<p>
  <strong>Saleprice:</strong>
  <%= @product.saleprice %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @product.weight %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
