<!--This is the view for all coupons for the logged in customer. It is the first page for any existing user when they log in-->
<div class="text-center">
    <!-- Greeting to the signed in user. Note this needs fixing when devise is sorted -->
     <h1> Hi <%= current_user.email %></h1> 


    <!-- takes user to the new  page which lists all the pre-made Coupons avaliable to the user for selection-->
  
    <h2> Here are all your vouchers </h2>

  <p class="alert alert-info">
    <%= flash[:notice] %>
  </p>

</div>
        <div>
        <% @vouchers.order("created_at DESC").each do |voucher| %>
            <div class="container">
            <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <p><strong> <%= voucher.template.description %></strong></p>
            </div>
            <div class="card-body">
                <p>Voucher number: <%= voucher.number %>
                <p>Value: £<%= voucher.template.value %>
                <p>Voucher created: <%= voucher.created%>
                 <p>Voucher expires: <%= voucher.expiry %>
                <p>Status: <%= voucher.status %>
                <% if voucher.status == "Valid"%>
                    <p> <%= link_to "Send to email", :controller => "customer/vouchers", :action => "email_notice", :user => @current_user_email, :voucher_number => voucher.number, class: "btn btn-primary"%></p>
                <%else%>
                    <p>Unfortunately, this voucher is no longer avaliable</p>
                <%end%>
                        
            </div>
            </div>
        <% end %>
        </div>
        
        <!-- ADD IN A MAGICAL NOTICE -->
        <!-- takes user back to the previous page they were on -->
        <!--<p><%= link_to "Back", customer_vouchers_path, class: "btn btn-primary" %></p>-->
        <p><%= link_to "Get New Voucher", customer_vouchers_templates_path, class: "btn btn-primary"  %></p>