<!--This is the view for the new or logged in customer to get a new coupon -->

<div>
    <!-- Greeting to the signed in user. Note this needs fixing when devise is sorted -->
    <h1> Hi <%= @User %>, here are today's deals avaliable to you! </h1> 
        <div>
            <% @vouchers.each do |voucher| %>
                <div>
                    <p><strong><%= voucher.description %></strong></p>
                    <p><%= voucher.value %>
                    <p><%= voucher.id %>
                    <!-- link which takes user to a page showing the specific coupon details -->
                    
                    <!-- THIS  IS THE BIT WE NEED TO FIGURE OUT. HOW DO WE MAKE A UNIQUE NEW INSTANCE OF THE COUPON
                    WHICH BELONGS THEN TO THE CUSTOMER?!! -->
                    <p><%= button_to "Get this coupon" %>
                
                </div>
            <% end %>
        </div>  

    <p><%= link_to "Back", :back %></p> <!-- takes user back to the previous page they were on -->


