<br />
<h1> Voucher valid ! </h1>
<br />


<p>Number: <%=  @instance.number %></p>
<p>Value: £<%=  @template.value %></p>
<p><%=  @template.description %></p>





<%= link_to "Redeem", {controller: 'instances', action: 'redeem', id: @instance.id}   , class: "btn btn-primary"   %> 
<%= link_to "Try Again", shop_instances_validate_path , class: "btn btn-primary" %>

