<br />
<h1> Voucher valid ! </h1>
<br />


<p>Voucher number: <%=  @instance.number %></p>
<p>Value: £<%=  @voucher.value %></p>
<p><%=  @voucher.description %></p>





<%= link_to "Redeem", {controller: 'instances', action: 'redeem', id: @instance.id}   , class: "btn btn-primary"   %> 
<%= link_to "Try Again", shop_instances_validate_path , class: "btn btn-primary" %>

