<!--This is the view for all templates for the logged in customer-->

<div>

    <h1> Hi, current_user.first_name Check out all your templates! </h1> <!-- this need fixing when devise sorted -->

        <div>
            <%= @template.each do |template| %>
                <p><strong><%= template.description %></strong></p>
                <p><%= template.value %>
                <%= template.expiry_date %></p>
                <p><%= link_to "Show template", customer_template_path(template) %></p>
                <!-- takes user to specific template details page -->
            <% end %>
        </div>

        <p><%= button_to "Get New template", new_customer_template_path(@template), method: :get %></p>
        <!-- takes user to the new template page -->

        <p><%= link_to "Back", :back %></p> <!-- takes user back to the previous page they were on -->
</div>
