<!--This is the view for all coupons for the logged in customer. It is the first page for any existing user when they log in-->

<div>
    <!-- Greeting to the signed in user. Note this needs fixing when devise is sorted -->
    <h1> Hi <%= current_user.email %>, here are all your current coupons! </h1> 

        <div>
            <% @instances.each do |instance| %>
                <div>
                    <p><strong><%= instance.voucher.description %></strong></p>
                    <p><%= instance.voucher.value %></p>

                     <!-- link which takes user to a page showing the specific coupon details -->
                    <p><%= link_to "Show Coupon Details", customer_instance_path(instance) %></p>

                </div>
            <% end %>
        </div>

        <!-- takes user to the new  page which lists all the pre-made Coupons avaliable to the user for selection-->
        <p><%= link_to "Get new voucher", customer_instances_voucher_path %></p>

       
        <!-- takes user back to the previous page they were on -->
        <p><%= link_to "Back", :back %></p> 
</div>
