<!--This is the view for all vouchers for the logged in customer-->

<div>

    <h1> Hi, <%= @User %> current_user.email Check out all your vouchers! </h1> <!-- this need fixing when devise sorted -->

        <div>
            <%= @instance.each do |instance| %>
                <p><strong><%= instance.description %></strong></p>
                <p><%= instance.value %>
                <%= voucher.expiry_date %></p>
                <p><%= link_to "Show Voucher", customer_instance_path(instance) %></p>
                <!-- takes user to specific voucher details page -->
            <% end %>
        </div>

        <p><%= button_to "Get New Voucher", new_customer_instance_path(@instance), method: :get %></p>
        <!-- takes user to the new voucher page -->

        <p><%= link_to "Back", :back %></p> <!-- takes user back to the previous page they were on -->
</div>
