<!--This is the view for the logged in customer to see details of a specific selected coupon-->

<div>
    <!-- Shows the details of specific coupon -->
    <h2> <%= @instance.voucher.description %> </h2>
    <h2><%= @instance.voucher.value %></h2>
    <h2><%= @instance.number %></h2>

    <p><%= button_to "Print Voucher"%> </p> <!-- we need to think how to get this working -->
    <p><%= button_to "Send to e-mail"  %></p> <!-- we need to think how to get this working -->
    <p><%= link_to "Back", :back %></p> <!-- takes user back to the previous page they were on -->
</div>

  





